body {
  direction: rtl;
  text-align: right;
}

.images_ img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
}

.images_ {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.images_ div {
  display: flex;
  flex-direction: column;
}
